<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sdsmt.team4.odetoballonstowerdefence">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OdeToBallonsTowerDefence">
        <activity
            android:name="edu.sdsmt.team4.odetoballonstowerdefence.EndGameActivity"
            android:exported="false" />
        <activity
            android:name="edu.sdsmt.team4.odetoballonstowerdefence.HowToActivity"
            android:exported="false" />
        <activity
            android:name="edu.sdsmt.team4.odetoballonstowerdefence.SelectionActivity"
            android:exported="false" />
        <activity
            android:name="edu.sdsmt.team4.odetoballonstowerdefence.GameActivity"
            android:exported="false" />
        <activity
            android:name="edu.sdsmt.team4.odetoballonstowerdefence.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>